@use '../../styles/global';
@use '../../styles/variables';

.categoryCard {
    background-color: variables.$secondary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
    @include global.global-hover(variables.$primary-color);
}

.categoryCard img {
    width: 50px;
    height: 50px;
}