@use '../../styles/variables';

.categoryList {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    
    @media (max-width: 768px) {
        flex-wrap: wrap;
        gap: 10px;
    }
}