@use '../../styles/variables';

.login {
    background-color: variables.$primary-color;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 0; /* No need for margin auto since we're using flexbox to center it */

    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    button {
        background-color: variables.$secondary-color;
        color: variables.$primary-color;
        width: fit-content;
    }
}